<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
 	
 	<bean id="shippingListDAO" class="com.sample.store.dao.impl.ShippingListDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="shipOrderDAO" class="com.sample.store.dao.impl.ShipOrderDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
 	<bean id="productDAO" class="com.sample.store.dao.impl.ProductDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
 	<bean id="purchaseOrderDAO" class="com.sample.store.dao.impl.PurchaseOrderDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="salesOrderDAO" class="com.sample.store.dao.impl.SalesOrderDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="managerDAO" class="com.sample.store.dao.impl.ManagerDAOimpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="customerDAO" class="com.sample.store.dao.impl.CustomerDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="supplierDAO" class="com.sample.store.dao.impl.SupplierDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
<bean id="account" class="com.sample.store.entity.Account" scope="session">
      <aop:scoped-proxy/>
  </bean>
  <bean id="customer" class="com.sample.store.entity.Customer" scope="session">
      <aop:scoped-proxy/>
  </bean>
  <bean id="salesorder" class="com.sample.store.entity.SalesOrder" scope="session">
      <aop:scoped-proxy/>
  </bean>
    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
    <property name="scopes">
        <map>
            <entry key="session">
                <!-- org.springframework.context.support.SimpleThreadScope -->
                <bean class="org.springframework.web.context.request.SessionScope"/>
            </entry>
        </map>
    </property>
	</bean>
    
</beans>